@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
    color: none;
}

html {
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--grayish-blue);
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 650px;
    height: 470px;
}

.section-first {
    width: 650px;
    height: 210px;
    padding: 40px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

.heading-first {
    height: 50px;
    color: var(--cyan);
}

.paragraph-first {
    height: 35px;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--bright-yellow);
}

.paragraph-second {
    width: 530px;
    color: var(--grayish-blue);
}

.section-second {
    width: 325px;
    height: 270px;
    border-bottom-left-radius: 10px;
    background-color: var(--cyan);
}

.section-last {
    width: 325px;
    height: 270px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 255, 255, 0.4);
}