@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
    color: none;
}

html {
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-gray);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas: 
    "box1 box1"
    "box2 box3";
    width: 650px;
    height: 470px;
}

.box1 {
    grid-area: box1;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

.box2 {
    grid-area: box2;
    border-bottom-left-radius: 10px;
    background-color: var(--cyan);
}

.box3 {
    grid-area: box3;
    border-bottom-right-radius: 10px;
    background-color: hsla(179, 62%, 43%, 0.63);
}

@media (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-areas: 
        "box1"
        "box2"
        "box3";
        width: 375px;
        height: 850px;
    }

    .box1 {
        border-radius: 10px 10px 0px 0px;
    }

    .box2 {
        border-radius: 0px;
    }

    .box3 {
        border-radius: 0px 0px 10px 10px;
    }
}